# Path: /.env.example
# API
API_PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fixandearn?schema=public

# Prisma behavior
PRISMA_AUTO_CONNECT=false

# Auth
JWT_ACCESS_SECRET=dev_super_secret_change_me
JWT_ACCESS_EXPIRES_IN=1d
